 article .Home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article .Home .Post {
    width: 550px;
    height: 550px;
    border: 2px solid #FFD7D7;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

article .Home .Post .Buttons {
    display: flex;
    justify-content: center;    
}
article .Home .Post .Buttons .Edit {
    display: flex;  
    color: #FD2D01;
}

article .Home .Post .Buttons .Delete {
    display: flex;
    margin-left: 10px;  
    color: #FD2D01;
} 

article .Home .Post .Image img {
   height: 300px;
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

article .Home .Post .Content{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

article .Home .Post .Title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px; 
}

article .Home .Post .User {
    text-align: center;
    margin-top: 10px; 
    

}
article .Home .Post .Engagement {
    margin-top: 15px; 
    display: flex;
    justify-content: center; 
}

article .Home .Post .Engagement label {
    margin-left: 10px; 
    margin-right: 100px
}

