 article .home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article .home .post {
    width: 550px;
    height: auto; 
    border: 2px solid #FFD7D7;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

article .home .post .buttons {
    display: flex;
    justify-content: center;    
}
article .home .post .buttons .edit {
    display: flex;  
    color: #4E5166;
    Font-size: 20px; 
}

article .home .post .buttons .delete {
    display: flex;
    margin-left: 20px;  
    color: #4E5166;
    font-size: 20px; 
} 

article .home .post .image img {
    height: auto;
    max-width:100%;
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

article .home .post .content{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

article .home .post .title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px; 
}

article .home .post .user {
    text-align: center;
    margin-top: 10px; 
    font-size: 17px; 
    

}
article .home .post .engagement {
    margin-top: 15px; 
    display: flex;
    justify-content: center; 
    font-size: 20px; 
}

article .home .post .engagement label {
    margin-left: 10px; 
    margin-right: 100px;
    font-size: 20px;
}
article .home .post .created-at, .updated-at {
    margin-top: 10px;
    text-align: center; 
}
@media screen and (max-width: 580px) {
    article .home .post {
    width: 350px;
    height: auto; 
    }
    article .home .post .content{
    font-size: 18px;
    }
    article .home .post .title {
    font-size: 20px;
    }
}

Button {
    background-color: #FFD7D7;
    font-size: 20px; 
}
@media screen and (max-width: 370px) {
    article .home .post {
    width: 300px;
    height: auto; 
    }
}

