
.Role {
    font-size: 20px; 
    text-align: center; 
}


.Profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.Profile h1 {
    text-align: center; 
}

.Profile p {
    text-decoration: underline; 
}

.Profile .Post {
    width: 200px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 50px; 
}


.Profile .Post .Image {
    display: flex;
    justify-content: center; 
    
}
.Profile .Post .Image img {
    width: 100px;
    height: 100px;

}

.Profile .Post .Content {
    flex: 30%;
    display: flex; 
    flex-direction: column; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Profile .Post .Content .title {
    flex: 30%;
    text-align: center; 
}

.Profile .Post .Content .description {
    flex: 70%;
    text-align: center; 
}

.Profile.Post .Like .likeButton {
    color: rgb(198, 198, 198)
}

.Profile .Post .Like .likeButton:hover {
    cursor: pointer;
}
.Profile .Post .Like .likeButton:active {
    color: black
}
