.post {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.postForm {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.postForm input, button{
    margin: 10px; 
    width: 400px;
    height: 40px;
    font-size: 20px; 
}

.postForm button:hover {
    cursor: pointer;
}


h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}